<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chapter02.IconActivity"></activity>
        <activity android:name=".chapter02.CaptureActivity" />
        <activity android:name=".chapter02.ScaleActivity" />
        <activity android:name=".chapter02.ClickActivity" />
        <activity android:name=".chapter02.BbsActivity" />
        <activity android:name=".chapter02.MarqueeActivity" />
        <activity android:name=".chapter02.ScrollActivity" />
        <activity android:name=".chapter02.GravityActivity" />
        <activity android:name=".chapter02.MarginActivity" />
        <activity android:name=".chapter02.ScreenActivity" />
        <activity android:name=".chapter02.ColorActivity" />
        <activity android:name=".chapter02.PxActivity" />
        <activity android:name=".chapter02.Chapter02Activity" />
        <activity android:name=".chapter01.Chapter01Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>